*{
    margin: 0px;
    padding: 0px;
    background-image:
     url("https://c4.wallpaperflare.com/wallpaper/46/15/632/smilies-smiles-colorful-emotion-wallpaper-preview.jpg");
    background-repeat: no-repeat;
    background-size: cover; 
}
  
  body{
  font-size: 20px;
  }
  nav{
    float: right;
    padding: 0px;
    margin-right: 15px;
  }
  li{
    padding: 15px;
    margin: 0px;
    background: black;
    color:white;
    font-family:'Bricolage Grotesque';
    border-radius: 20px;
    list-style: none;
    display: inline;
    transition: 0.2s;
  }
  li:hover{
    cursor: pointer;
    box-shadow:8px 5px #9d9595,9px 6px black;
    padding:15px;
  }
  #joke-box{
    float:center;
    justify-content: center;
    justify-items: center;
    justify-self: center;
    opacity: 100%;
    padding:5px;
    margin-top: 150px;
    background: #f6efef;
  }
  #joke-shower{
    padding:15px;
    color:black;
    background: #eeeded;
    border-radius: 0px;
    font-family:'Edu TAS Beginner';
    font-size: 45px;
    transition: 0.5s;
    cursor: pointer;
  }
  
  #joke-shower:hover{
    padding:15px;
    color:black;
    background: #e2dfdf;
    border-radius: 0px;
    font-family:'Edu TAS Beginner';
    font-size: 50px;
  }
  #btn{
    padding: 10px;
    margin: 5px;
    border-radius: 20px;
    background: #30d944;
    width:50%;
    color:black;
    font-family:'Bricolage Grotesque';
    font-size: 20px;
    transition: 0.5s;
    cursor: pointer;
  }
  #btn:hover{
    cursor: pointer;
    box-shadow:8px 5px #9d9595,9px 6px black;
    padding:15px;
    
}